<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>hp-blade14</name>
  <description></description>
  <remoteFS>/var/lib/jenkins-agent</remoteFS>
  <numExecutors>8</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.29.4">
    <host>hp-blade14.cloud.lab.eng.bos.redhat.com</host>
    <port>22</port>
    <credentialsId>jenkins-agent</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>fedora kubevirt</label>
  <nodeProperties/>
</slave>
